/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/JavaApplication17/dist/
/faturamento/nbproject/private/
/bankSystem_1/nbproject/private/
/faturas/nbproject/private/
/faturas/build/
/faturas/dist/
